<div class="wrapper-container">
    <div class="button-wrapper">
        <div class="button-one">
            <button (click)="onClickHandler($event, item)" class="btn">1</button>
            <button (click)="onClickHandler($event, item)" class="btn">2</button>
        </div>
        <div class="button-two">
            <button (click)="onClickHandler($event, item)" class="btn">3</button>
            <button (click)="onClickHandler($event, item)" class="btn">4</button>
        </div>
        <div class="component-name"> {{ name }}</div>
    </div>
</div>
